<app-banner-navigate class="mobileHeaderContainer">
    <div class="d-flex navBack p-3  LatoBoldWhite-3" (click)="back()"><span><mat-icon class="arrowbck">arrow_back</mat-icon></span><span class="ms-auto me-auto">SOLAR LOAD CALCULATOR</span> </div>
</app-banner-navigate>
<div class="d-flex  webHeaderContainer">
    <div class="web-header-title">
       Solar Calculator
    </div>
     
  </div>
<div class="webContainerBox mobileContainerBox">
    <div class="featureList p-3  ">
        <div class="featureHeader">
            INVERTER FEATURES
        </div>
        <div class="featureSubText">
            <div>-MPPT Technology</div>
            <div>-Smart Solar Optimization</div>
            <div>-Priority Settings</div>
            <div>-BIS Certified Product</div>
            <div>-2 Years Warranty</div>

        </div>
    </div>
    <div class="featureList p-3  ">
        <div class="featureHeader">
            BATTERY FEATURES
        </div>
        <div class="featureSubText">
            <div>-C10 Rated Deep Cycle Battery</div>
            <div>-Long Power Backup</div>
            <div>-Long Battery Design Life</div>
            <div>-Very Low Maintenace</div>
            <div>-5 Years Warranty</div>

        </div>
    </div>
    <div class="featureList p-3  ">
        <div class="featureHeader">
            PANEL FEATURES
        </div>
        <div class="featureSubText">
            <div>-Anti PID Technology</div>
            <div>-Excellent Low Light Performance</div>
            <div>-BIS Certified Product</div>
            <div>-12 Years Product Warranty</div>
            <div>-25 Years Performance Warranty</div>
        </div>
    </div>
    <div class="backBtnWeb p-3 ps-2"><button class="btn  btn-back" (click)="back()">BACK</button></div>

</div>   
