<app-banner-navigate class="checkStatusMobile">
    <div class="d-flex ms-4 mt-2 navBack" (click)="redirectToBack()"><span class="me-2">
            <mat-icon class="">arrow_back</mat-icon>
        </span>   </div>
</app-banner-navigate>
<div class="p-4 pt-2 pb-2 border-b checkStatusMobile">
    <span  class="LatoBoldBlue-3">Check Status</span>
</div>
<div class="d-flex eWar  warranty-header-web checkStatusWeb">
  <div class="web-header-title">
    <span class="me-2 navBackWeb" (click)="redirectToBack()">
      <mat-icon class="">arrow_back</mat-icon>
  </span>  Check Status
  </div>

</div>

<div class="d-flex ps-3 pb-1 pt-3 pe-3  pincode-main">
    <div class="p-1 flex-fill">
        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Search</mat-label>
            <input type="number" [(ngModel)]="phoneNumber" matInput placeholder="Search by Phone No."
                name="phoneNumber" (keyup)="searchByPhoneNumber()">
        </mat-form-field>
    </div>
</div>

<div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="filteredData">

        <!-- Name Column -->
        <ng-container matColumnDef="Status" sticky>
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td [ngClass]="element.Status=='Verified'?'verified':element.Status=='Not Verified'?'notverified':''" mat-cell *matCellDef="let element" (click)="verifyStatus(element)"> {{element.Status!==null?element.Status:'NA'}} </td>
        </ng-container>
    
        <!-- Position Column -->
        <ng-container matColumnDef="PhoneNo">
          <th mat-header-cell *matHeaderCellDef> Phone No.</th>
          <td mat-cell *matCellDef="let element"> {{element.PhoneNo}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="ProductName">
          <th mat-header-cell *matHeaderCellDef> Product Name</th>
          <td mat-cell *matCellDef="let element"> {{element.ProductName}} </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="ApplicationNo">
          <th mat-header-cell *matHeaderCellDef> Application No. </th>
          <td mat-cell *matCellDef="let element"> {{element.ApplicationNo}} </td>
        </ng-container>
        <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef> Date of Request </th>
            <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
          </ng-container>
          <ng-container matColumnDef="RequestType">
            <th mat-header-cell *matHeaderCellDef>  Request Type</th>
            <td mat-cell *matCellDef="let element"> {{element.RequestType}} </td>
          </ng-container>
    
         
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>
 
<!-- <div class="table">
    <div class="d-flex">
        <div class="p-2 rprtHeader">Status</div>
        <div class="p-2 rprtHeader">Phone No.</div>
        <div class="p-2 rprtHeader">Product Name</div>
        <div class="p-2 rprtHeader">Application No.</div>
        <div class="p-2 rprtHeader">Date of Request</div>
        <div class="p-2 rprtHeader">Request Type</div>

    </div>
    <div class="d-flex" *ngFor="let item of filteredData">
        <div class="p-2 flex-fill" (click)="verifyStatus(item)">{{item.Status!==null?item.Status:'NA'}}</div>
        <div class="p-2 flex-fill">{{item.PhoneNo}}</div>
        <div class="p-2 flex-fill">{{item.ProductName}}</div>
        <div class="p-2 flex-fill">{{item.ApplicationNo}}</div>
        <div class="p-2 flex-fill">{{item.Date}}</div>
        <div class="p-2 flex-fill">{{item.RequestType}}</div>

    </div>
</div> -->

<app-popup *ngIf="showOTPPopup">
  <div class="d-flex p-4 mt-4 pb-1 LatoRegularFnt-0_8">
    <span class="otpMsg text-center">{{otpDesc}}.</span> 
 </div>
    <div class="d-flex p-2 m-3 ps-1 mb-0  inputfield">
        <input type="number" [(ngModel)]="OTPInput" matInput placeholder="Verify your OTP">
    </div>

    <div class="p-3  pb-1"><button (click)="verifyOTP()" class="btn btn-darkBlue">{{'submit' |
            translate }}</button></div>
            <div *ngIf="!showResendOtp" class="d-flex p-2 mt-4 justify-content-center">
              <span class="resendTxt">Resend in {{timeLeft}}
              </span> 
           </div>
  <div class="p-3  pb-1" *ngIf="showResendOtp"><button (click)="verifyStatus(selectedItem)" class="btn btn-darkBlue">Resend OTP</button></div>

</app-popup>

 