.schemes-card .schemes-card-image{
    flex-basis: 50%;
    text-align: center;
    padding: 0.5rem !IMPORTANT;
    padding-top: 1rem!important;
}



.schemes-card .schemes-card-image img{
    width: 97%;
    height: 12.9375rem;
    border-radius: 5px;
}



.INBT{
    background:rgb(33 65 152) ;
    display: flex;
    justify-content: center;
    color: white;
    }
    
    
    .Solar{
    background: rgb(66 93 177);
    display: flex;
    justify-content: center;
    color: white;
    }

    .title{
        color: black;
        font-size: 0.7rem;
    }

    .schemes-main{
        min-height: calc(100vh - 9.9375rem);
    max-height: calc(100vh - 9.9375rem);
    overflow: auto;
    }
    
    .sub-title{
        font-size: 0.7rem;
    }
    

    .category{
        height: 2.6rem;
        position: fixed;
        bottom: 4.2rem;
        width: 100vw;
    }
        .active{
            background:rgb(33 65 152) ;
            display: flex;
            justify-content: center;
            color: white;
    
        }

        @media(max-width:799px){
            .schemesWeb{
                display: none !important;
            }
            .categoryMobile{
                display: block;
            }
    
            .categoryWeb{
                display: none !important;
            }
        }
        @media(min-width:800px){
            .schemesWeb{
                display: block;
            }
            .eWar{
                height: 4.4375rem;
              }
            .schemes-main{
                border-radius: 5px;
                box-shadow: 0 5px 20px 0 rgba(233, 233, 233, 0.5);
                border: solid 1px #dbdbdb;
                background-color: #fff;
                min-height: auto !important;
                margin: 1.5rem;
                max-height: calc(100vh - 12.9375rem)!important;
                overflow: auto;
 
             }


            .schemes-card .schemes-card-image {
                flex-basis: 25%;
            
            }

            .schemes-card .schemes-card-image img{
                height: 19.6875rem !important;
            }

            .categoryMobile{
                display: none !important;
            }
            .categoryWeb{
                display: block;
                margin:1.5rem;
                margin-top:0;   
            }
            .category{
                position: relative !important;
                width: 100%;
                bottom: 0!important;
            }
      }