<div class="d-flex eWar  warranty-header-web priceListWeb">
  <div class="web-header-title">
      Price List
  </div>

</div>
<div class="categoryWeb">
  <div class="d-flex category" *ngIf="storageService.getItem('userType')=='DISTY'">
    <div class="p-3  " [ngClass]="selectedUser=='DEALER'?'grid2ColActive':'grid2Col'" (click)="onTabChange('DEALER')">DEALER</div>
    <div class="p-3  " [ngClass]="selectedUser=='DISTY'?'grid2ColActive':'grid2Col'" (click)="onTabChange('DISTY')">DISTRIBUTOR</div>
  </div>
</div>

<div class="pricelist-main">
    <div class="d-flex flex-wrap mb-3 pricelist-card ">
        <div *ngFor="let price of priceList" class="ps-3 pe-3 pt-4 pricelist-card-image" (click)="openPdf(price.card_action)"><img src="../../assets/priceList.png" alt="">
            <div class="LatoBoldFnt-0_8">{{price.title}} </div>
            <div class="LatoRegularGrey">{{price.sub_title}} </div>   
        </div>
      </div>
</div>
  <div class="d-flex category categoryMobile" *ngIf="storageService.getItem('userType')=='DISTY'">
    <div class="p-3  " [ngClass]="selectedUser=='DEALER'?'grid2ColActive':'grid2Col'" (click)="onTabChange('DEALER')">DEALER</div>
    <div class="p-3  " [ngClass]="selectedUser=='DISTY'?'grid2ColActive':'grid2Col'" (click)="onTabChange('DISTY')">DISTRIBUTOR</div>
  </div>
  <app-pdf-viewer-popup  *ngIf="showPdf" (popupClose)="hidePdf()" [dowloadUrl]="pdfUrl" (sharePdf)="sharePdf()">
    <pdf-viewer
    [src]="pdfUrl"
    [rotation]="0"
    [original-size]="false"
    [show-all]="true"
    [fit-to-page]="false"
    [zoom]="1"
    [zoom-scale]="'page-width'"
    [stick-to-page]="false"
    [render-text]="true"
    [external-link-target]="'blank'"
    [autoresize]="true"
    [show-borders]="false"
    style="width: 100%; height: 600px;"
  ></pdf-viewer>
     </app-pdf-viewer-popup>


     <app-popup *ngIf="showSharePdf" (popupClose)="sharePdf()" [sharePdf]=true>
      <div class="d-flex justify-content-center"><span class="shareLineBox"></span></div>
      <div class="sharePopTitle">Share</div>
      <div class="sharePopUrl">{{pdfUrl}}</div>
      <share-buttons theme="modern-dark" 
      [include]="['facebook','twitter','linkedin','pinterest','reddit','tumblr','mix','viber','vk','telegram','messenger','whatsapp','xing','line','sms','email','print','copy']"
      [show]="5"
      [showText]="true"
      [url]="pdfUrl"
     ></share-buttons>
    </app-popup>