<app-banner-navigate>
    <div class="d-flex p-3 navBack banerTxt pb-0">Dealer Options</div>
</app-banner-navigate>

<div>
    <div class="details">
        <div class="mt-3 ms-3 me-3">
            <div class="d-flex p2">
                <div class="p-1 flex-fill">
                    <div class="LatoRegularFnt-0_8">
                        Roshan Kumar
                    </div>
                    <div class="LatoRegularGrey">99999</div>
                </div>
                <div class="p-1  flex-fill points-width">
                    <div class="LatoRegularGrey">
                        Total Points
                    </div>
                    
                    <div class="pointsText">1254<span class="info"><mat-icon>info</mat-icon></span></div>
                </div>
                <div class="pt-1 pe-2">
                    <button class="btn unblock-btn d-flex pt-1 pb-1">
                        <span class="me-1 icn" >
                        <img src="./../../../../assets/unlock.png" alt=""></span>
                        <span>UNBLOCK</span> </button>
                </div>
                <div class="flex-fill pdf ms-1 pt-1">
                    <span class="d-flex"><img src="../../../../assets/pdfredsmallsvg.svg" alt=""></span>
                </div>
    
            </div>
        </div>
        
    </div>
    <div class="details">
        
        <div class="mt-3 ms-3 me-3">
            <div class="d-flex p2">
                <div class="p-1 flex-fill">
                    <div class="LatoRegularFnt-0_8">
                        Roshan Kumar
                    </div>
                    <div class="LatoRegularGrey">99999</div>
                </div>
                <div class="p-1  flex-fill points-width">
                    <div class="LatoRegularGrey">
                        Total Points
                    </div>                    <div class="pointsText">1254<span class="info"><mat-icon>info</mat-icon></span></div>
                </div>
                <div class="pt-1 pe-2">
                    <button class="btn lock-btn d-flex pt-1 pb-1">
                        <span  class="me-1 icn"><img src="./../../../../assets/lock.png" alt=""></span> 
                        <span>BLOCK</span>

                        </button>
                </div>
                <div class="flex-fill pdf ms-1 pt-1">
                    <span class="d-flex"><img src="../../../../assets/pdfredsmallsvg.svg" alt=""></span>
                </div>
    
            </div>
        </div>
    </div>
    <div class="details">
        <div class="mt-3 ms-3 me-3">
            <div class="d-flex p2">
                <div class="p-1 flex-fill">
                    <div class="LatoRegularFnt-0_8">
                        Roshan Kumar
                    </div>
                    <div class="LatoRegularGrey">99999</div>
                </div>
                <div class="p-1  flex-fill points-width">
                    <div class="LatoRegularGrey">
                        Total Points
                    </div>
                    
                    <div class="pointsText">1254<span class="info"><mat-icon>info</mat-icon></span></div>
                </div>
                <div class="pt-1 pe-2">
                    <button class="btn unblock-btn d-flex pt-1 pb-1">
                        <span class="me-1 icn" >
                        <img src="./../../../../assets/unlock.png" alt=""></span>
                        <span>UNBLOCK</span> </button>
                </div>
                <div class="flex-fill pdf ms-1 pt-1">
                    <span class="d-flex"><img src="../../../../assets/pdfredsmallsvg.svg" alt=""></span>
                </div>
    
            </div>
        </div>
        
    </div>
    <div class="details">
        
        <div class="mt-3 ms-3 me-3">
            <div class="d-flex p2">
                <div class="p-1 flex-fill">
                    <div class="LatoRegularFnt-0_8">
                        Roshan Kumar
                    </div>
                    <div class="LatoRegularGrey">99999</div>
                </div>
                <div class="p-1  flex-fill points-width">
                    <div class="LatoRegularGrey">
                        Total Points
                    </div>                    <div class="pointsText">1254<span class="info"><mat-icon>info</mat-icon></span></div>
                </div>
                <div class="pt-1 pe-2">
                    <button class="btn lock-btn d-flex pt-1 pb-1">
                        <span  class="me-1 icn"><img src="./../../../../assets/lock.png" alt=""></span> 
                        <span>BLOCK</span>

                        </button>
                </div>
                <div class="flex-fill pdf ms-1 pt-1">
                    <span class="d-flex"><img src="../../../../assets/pdfredsmallsvg.svg" alt=""></span>
                </div>
    
            </div>
        </div>
    </div>
</div>

