.carousCust{
 /* top: 2.5rem; */
}


.carousel-image{
    /* height: 29vh; */
}


.carousel-indicators button.active{
    background-color: #1137a1 ;
    }
    
    .carousel-indicators button{ 
        width: 10px ;
        height: 10px ;
        border-radius: 100%;
        opacity: 1;
    }