<div class="d-flex  webHeaderContainer">
    <div class="web-header-title">
        Services Escalation
    </div>
     
  </div>


  <div class="webContainerBox">

    <div class="m-3 escalationHeader">Escalation Matrix</div>

<div class="pt-1 ms-3 flex-fill">
    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label > State </mat-label>
        <mat-select placeholder="Select Sate" (selectionChange)="onStateChange($event)" required>
            <mat-option *ngFor="let st of stateList" [value]="st.StateID">
              {{st.StateName}}
            </mat-option>
          </mat-select>         
      </mat-form-field>
</div>
<app-data-table *ngIf="matrixList.length>0" [displayedColumns]="displayedColumns" [dataSource]="matrixList" [blueBg]=true></app-data-table>

<!-- <div class="main-details  mt-3" *ngIf="matrixList">
    <div class="d-flex pt-2 ps-3 pe-3 pb-3 det-row2"  *ngFor="let item of matrixList">
        <div class="col1 flex-fill">
             
            <div class="profileGreyText Lato-Regular">
                <p>{{item.ServiceCenterName}}</p>
    
            </div>
            <span class="Lato-Bold">{{item.Address}}</span>
        </div>
        
    </div>
</div> -->

  </div>

