<div class="main">
    <div class="item-wrapper">
        <ng-container *ngFor="let sl of serialList">
            <div class="ms-3 me-3 mt-3 mb-1 item">
                <div class="d-flex ps-2 pe-2 pt-1">
                    <div class="p-1 flex-fill">
                        <div class="lbl">Serial No</div>
                        <div class="lbltxt">{{sl.slno}}</div>
                    </div>
                    <div class="p-1 pointsYellow pt-3">
                        <img class="me-2" src="../../../../assets/gldPntsm.png" alt=""> {{sl.wrspoint}} POINTS
                    </div>
                    <div class="p-1 pointsYellow pt-3" *ngIf="sl.trippoint">
                        <img class="me-2" src="../../../../assets/gldPntsm.png" alt=""> {{sl.trippoint}} POINTS
                    </div>
                </div>
                <div class="d-flex ps-2 pe-2 pt-1">
                    <div class="p-1 flex-fill">
                        <div>Status</div>
                        <div class=" lbltxt">{{sl.Code}}</div>
                    </div>
    
                </div>
                <div class="d-flex  ps-2 pe-2 pt-1">
                    <div class="p-1 flex-fill">
                        <div>Remarks</div>
                        <div class=" lbltxt">{{sl.des}}</div>
                    </div>
    
                </div>
            </div>
        </ng-container>
    </div>
    

    <div class="ms-3 me-3 mt-3 mb-1">
        <div class="d-flex   pt-1">
            <div class="p-4 pt-3 flex-fill btn-darkBlue registered">
                <div class="center cnt mb-2">{{serialList.length}}</div>
                <div class="center cntTxt">Total Registered Serial No.</div>
            </div>
            <div class="p-4 pt-3 flex-fill totalPoints">
                <div class="center cnt mb-2">{{totalPoints}}</div>
                <div class="center cntTxt">Total Points</div>
            </div>

            <div class="p-4 pt-3 flex-fill totalPoints" *ngIf="totalTripPoints >=0">
                <div class="center cnt mb-2">{{totalTripPoints}}</div>
                <div class="center cntTxt">Total Trip Points</div>
            </div>

        </div>
        <!-- <div class="d-flex ps-2 pe-2 pt-1">
            
             
        </div> -->
    </div>
    <div class="p-3 pb-4 "><button (click)="continueScanning()" class="btn btn-darkBlue">CONTINUE SCANNING</button>
    </div>

</div>