@import'./../solar-style.css';
.solution-row {
border: 1px solid #cdcdcd ;
border-radius: 5px;
}
.solution-row .col1,.solution-row .col2{
    flex: 1;
    text-align: center;
}

.solution-row .col1{
    background: #cdcdcd;
    font-family: LatoBold;
    font-size: 0.8rem;
     padding: 0.5rem; 
    color: #000;
}
.solution-row .col2{
    font-family: LatoRegular;
    font-size: 0.8rem;
    color: #072d9e;
    padding: 0.5rem;
}

.btn-knowMre{
    background: #5291ee;
    font-family: 'LatoBold';
    font-size: 1rem;
    border-radius: 21px;
    color: white;
    width: 50%;
}

 

@media(max-width:799px){

    .mobileContainerBox{
    height: calc(100vh - 11rem);
    overflow: auto;
    }
    
    .backBtnWeb{
        display: none!important;
    }
}

@media(min-width:800px){
    .webContainerBox{
        height: 428px;
    }
    .solution-row{
        width: 50%;
    }

    .solution-row .col1{
        padding: 0.5rem!important;
    }

    .solarImage{
        display: none;
    }

    .backBtnWeb{
        display:inline-block;;
    }
    .btn-back{
        width: 107px;
        height: 50px;
        border-radius: 3px;
        background-color: #848484;
        color: white;
        font-family: LatoRegular;
        font-size: 0.8rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .nextWrap{
        margin-top: 6.3rem !important;
        text-align: start;
        display: flex;
    }

    .btn-knowMre{
        width: 152px;
        height: 50px;
        border-radius: 3px;
        background-color: #072d9e;
    }
}